@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --color-primary: 255 255 255;
  --color-secondary: 22 22 23;
  --color-emphasis: 0 102 255;
}

.dark {
  --color-primary: 20 18 38;
  --color-secondary: 163 183 198;
  --color-emphasis: 114 96 199;
}
